<div class="z-50 fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" *ngIf="config.isOpen" (click)="onOutsideClick($event)" >
  <div #modalContainer [ngClass]="'bg-white p-6 rounded-lg shadow-lg w-full max-w-' + config.width" (click)="$event.stopPropagation()" >
    
    <h2 class="text-lg font-bold">{{ config.title }}</h2>

    <div class="py-6">
      <ng-container *ngComponentOutlet="currentComponent"></ng-container>
    </div>

    <div class="flex justify-end space-x-4 pt-4 border-indigo-100 border-t">
      <button (click)="closeModal()" class="px-4 py-2 bg-gray-300 rounded">{{ config.closeLabel || 'Close' }}</button>
      <button (click)="config.okAction(); closeModal()" class="px-4 py-2 bg-indigo-500 text-white rounded">{{ config.okLabel || 'OK' }}</button>
    </div>
    
  </div>
</div>
