
<!-- Main Section Below -->
<div class="flex lg:py-0 w-full bg-gray-100">
    <!-- <div class="z-0 flex"> -->

        <aside class="{{ !isShowingDetails ? '' : 'hidden lg:flex' }} z-30 lg:mb-4 xl:order-first flex flex-col flex-shrink-0 w-full lg:w-80 h-full ml-1 bg-white">
            <app-items-list class="lg:pb-24" [listData]="listData" (selectObject)="selectObject($event)"></app-items-list>
        </aside>

        <!-- Main Info Section -->
        <main class="w-full">
            <div *ngIf="selectedItem" class="min-h-screen overflow-auto">
                <div class="w-full mt-6 pr-1 lg:m-4 lg:pr-8 mb-20 lg:mb-72">

                    <div class="w-full bg-white shadow-lg rounded">

                        <!-- Heading -->
                        <div class="flex items-center justify-between pb-3 pt-4 px-6 border-b-2 border-indigo-800">
                            <div class="flex justify-start">
                                <span class="relative p-1 bg-indigo-800 rounded-md">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                                    </svg>
                                </span>
                                <span class="mx-6 font-bold text-black text-md">
                                    <span class="text-lg flex"><span class="flex lg:hidden mr-1">Selected</span> Member Details</span>
                                </span>
                            </div>
                        </div>

                        <div class="flex h-full flex-col pb-2">

                            <!-- Upper Section & tabs -->
                            <div class="space-y-4">

                                

                                <!-- name & position etc -->
                                <div class="py-4 px-2 md:px-8 sm:flex-1 sm:min-w-0 sm:flex sm:items-center justify-between sm:space-x-6 md:space-x-2 lg:space-x-6 sm:pb-1">

                                    <div class="flex min-w-0 space-x-4 justify-start">
                                        <div class="flex-shrink-0 group inline-flex overflow-hidden rounded-xl border-4 border-white bg-white" id="slim-scroll">
                                            <img class="cursor-pointer h-24 w-20 flex-shrink-0 sm:h-32 sm:w-28" [src]="selectedItem.photo" alt="">
                                        </div>
                                        <div class="space-y-1 md:space-y-4">
                                            <div class="space-x-2">
                                                <span class="text-md md:text-xl font-bold text-slate-400">Name:</span>
                                                <span class="text-lg md:text-2xl font-bold text-slate-900 flex-row flex-wrap whitespace-pre-wrap">{{selectedItem.first_name}} {{selectedItem.other_names}} {{selectedItem.last_name}}</span>
                                            </div>
                                            <div class="space-x-2">
                                                <span class="text-md md:text-xl font-bold text-slate-400">ID No.:</span>
                                                <span class="md:text-lg font-bold text-slate-600 truncate">{{selectedItem.member_id}}</span>
                                            </div>
                                            <div class="space-x-2" *ngIf="selectedItem.positions">
                                                <span class="text-md md:text-xl font-bold text-slate-400">Position:</span>
                                                <span class="md:text-lg font-bold text-slate-600 truncate">{{selectedItem.positions[0]}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Other Action Buttons -->
                                    <div class="flex mt-2 md:space-y-3 sm:flex items-end justify-between md:justify-end sm:space-y-0 space-x-1 lg:space-x-4">

                                        <!-- <app-single-button [buttonData]="{buttonName: 'Message', icon: 'messagingIcon'}" (singleActionButton)="message(selectedItem)"></app-single-button>
                      
                                        <app-menu-button class="order-2 lg:order-1 flex lg:relative col-span-1 right-6 lg:left-0" [actionsData]="profileActions" (actionSelected)="actionSelected($event)"></app-menu-button> -->
                      
                                    </div>

                                </div>

                                <!-- Main Tabs -->
                                <div class="border-b border-indigo-200 md:pt-2 md:mt-2 mx-2 md:mx-8">
                                    <div class="px-1 pt-2">
                                        <nav class="-mb-px flex justify-start space-x-3 lg:space-x-12">

                                            <a (click)="changeTab('profile')" [ngClass]="mainTab === 'profile' ? 'border-indigo-500 text-indigo-700' : 'border-transparent text-slate-500'" class="cursor-pointer lg:hover:text-slate-700 lg:hover:border-slate-300 whitespace-nowrap pb-3 px-1 border-b-2 font-medium text-sm">Profile</a>

                                            <a (click)="changeTab('admission')" [ngClass]="mainTab === 'admission' ? 'border-indigo-500 text-indigo-700' : 'border-transparent text-slate-500'" class="cursor-pointer lg:hover:text-slate-700 lg:hover:border-slate-300 whitespace-nowrap pb-3 px-1 border-b-2 font-medium text-sm">Admission</a>

                                            <a *ngIf="selectedItem.relations && selectedItem.relations.length" (click)="changeTab('relations')" [ngClass]="mainTab === 'relations' ? 'border-indigo-500 text-indigo-700' : 'border-transparent text-slate-500'" class="cursor-pointer lg:hover:text-slate-700 lg:hover:border-slate-300 whitespace-nowrap pb-3 px-1 border-b-2 font-medium text-sm">Relations</a>
                                            
                                            <a *ngIf="selectedItem.privilleges && selectedItem.privilleges.length" (click)="changeTab('privilleges')" [ngClass]="mainTab === 'privilleges' ? 'border-indigo-500 text-indigo-700' : 'border-transparent text-slate-500'" class="cursor-pointer lg:hover:text-slate-700 lg:hover:border-slate-300 whitespace-nowrap pb-3 px-1 border-b-2 font-medium text-sm">Privilleges</a>

                                        </nav>
                                    </div>
                                </div>

                            </div>



                            <!-- Profile Page -->
                            <div class="py-6">

                                <!-- Basic Info -->
                                <div *ngIf="mainTab === 'profile'" class="grid {{!edit ? 'grid-cols-2' : 'grid-cols-1'}} lg:grid-cols-2 gap-6 lg:gap-x-16 mx-4 lg:mx-8 px-4">

                                    <div class="col-span-1 space-y-6">

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700">First Name </dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900"> {{selectedItem.first_name}} </dd>
                                            <dd *ngIf="edit" class="mt-1">
                                                <input type="text" name="first_name" [(ngModel)]="selectedItem.first_name" class="col-span-2 w-full bg-white mt-1 rounded-md border py-2 px-3 shadow-sm border-indigo-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:outline-none sm:text-sm">
                                            </dd>
                                        </div>

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700"> Last Name </dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900"> {{selectedItem.last_name ? selectedItem.last_name : '(Empty)'}}
                                            </dd>
                                            <dd *ngIf="edit" class="mt-1">
                                                <input type="text" name="last_name" [(ngModel)]="selectedItem.last_name" class="col-span-2 w-full bg-white mt-1 rounded-md border py-2 px-3 shadow-sm border-indigo-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:outline-none sm:text-sm">
                                            </dd>
                                        </div>

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700">Others Name(s) </dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900"> {{selectedItem.other_names? selectedItem.other_names : '(Empty)'}}
                                            </dd>
                                            <dd *ngIf="edit" class="mt-1">
                                                <input type="text" name="search" [(ngModel)]="selectedItem.other_names" class="col-span-2 w-full bg-white mt-1 rounded-md border py-2 px-3 shadow-sm border-indigo-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:outline-none sm:text-sm">
                                            </dd>
                                        </div>

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700">Gender </dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900"> {{selectedItem.gender}} </dd>
                                            <dd *ngIf="edit" class="mt-1">
                                                <app-select-input id="gender" [selectInputData]="{ items: nonDB.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', defaultValue: nonDB.gender[0] }" (selectionChanged)="onSelectionChanged('gender', $event)"></app-select-input>
                                            </dd>
                                        </div>

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700"> Date Of Birth: </dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900"> {{selectedItem.birth_date}} </dd>
                                            <dd *ngIf="edit" class="mt-1">
                                                <input type="date" name="birth_date" [(ngModel)]="selectedItem.birth_date" class="col-span-2 w-full bg-white mt-1 rounded-md border py-2 px-3 shadow-sm border-indigo-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:outline-none sm:text-sm">
                                            </dd>
                                        </div>

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700"> Phone Number</dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900">{{selectedItem.phone ? selectedItem.phone : '(Empty)'}} </dd>
                                            <dd *ngIf="edit" class="mt-1">
                                                <input type="tel" name="phone" [(ngModel)]="selectedItem.phone" class="col-span-2 w-full bg-white mt-1 rounded-md border py-2 px-3 shadow-sm border-indigo-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:outline-none sm:text-sm">
                                            </dd>
                                        </div>

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700">Email</dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900">{{selectedItem.email ? selectedItem.email : '(Empty)'}} </dd>
                                            <dd *ngIf="edit" class="mt-1">
                                                <input type="email" name="email" [(ngModel)]="selectedItem.email" class="col-span-2 w-full bg-white mt-1 rounded-md border py-2 px-3 shadow-sm border-indigo-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:outline-none sm:text-sm">
                                            </dd>
                                        </div>


                                    </div>

                                    <div class="col-span-1 space-y-6">

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700">Nationality </dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900">
                                                <span *ngIf="selectedItem.nationality"> 
                                                    <img class="rounded-sm h-6 w-6 inline-block mr-3" [src]="selectedItem.nationality.flag">
                                                    <div class="inline-block text-lg">{{selectedItem.nationality.nationality}}</div>
                                                </span>
                                                <span *ngIf="!selectedItem.nationality">(Empty)</span>
                                            </dd>
                                            <dd *ngIf="edit" class="mt-1">
                                                <app-select-input id="nationality" [selectInputData]="{ items: nonDB.countries, placeholder: 'Select Country', displayProperty: 'name', searchProperty: 'name' }" (selectionChanged)="onSelectionChanged('nationality', $event)"></app-select-input>
                                            </dd>
                                        </div>

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700">Residencial City </dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900"> {{selectedItem.resid_city ? selectedItem.resid_city : '(Empty)'}}
                                            </dd>
                                            <dd *ngIf="edit" class="mt-1">
                                                <input type="text" name="resid_city" [(ngModel)]="selectedItem.resid_city" class="col-span-2 w-full bg-white mt-1 rounded-md border py-2 px-3 shadow-sm border-indigo-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:outline-none sm:text-sm">
                                            </dd>
                                        </div>

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700">Residencial Address </dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900"> {{selectedItem.resid_address ? selectedItem.resid_address : '(Empty)'}}
                                            </dd>
                                            <dd *ngIf="edit" class="mt-1">
                                                <textarea rows="3" type="text" name="resid_address" [(ngModel)]="selectedItem.resid_address" class="col-span-2 w-full bg-white mt-1 rounded-md border py-2 px-3 shadow-sm border-indigo-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:outline-none sm:text-sm"></textarea>
                                            </dd>
                                        </div>

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700">GPS Address </dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900"> {{selectedItem.gps_address ? selectedItem.gps_address : '(Empty)'}}
                                            </dd>
                                            <dd *ngIf="edit" class="mt-1">
                                                <textarea rows="3" type="text" name="gps_address" [(ngModel)]="selectedItem.gps_address" class="col-span-2 w-full bg-white mt-1 rounded-md border py-2 px-3 shadow-sm border-indigo-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:outline-none sm:text-sm"></textarea>
                                            </dd>
                                        </div>

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700">Notes </dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900">{{selectedItem.notes ? selectedItem.notes : '(Empty)'}} </dd>
                                            <dd *ngIf="edit" class="mt-1">
                                                <textarea type="text" rows="3" name="notes" [(ngModel)]="selectedItem.notes" class="w-full bg-white mt-1 rounded-md border py-2 px-3 shadow-sm border-indigo-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:outline-none sm:text-sm"></textarea>
                                            </dd>
                                        </div>

                                    </div>

                                    <!-- action button -->
                                    <div class="{{!edit ? 'col-span-2' : 'col-span-1'}} lg:col-span-2 mt-10 border-t border-indigo-100">
                                        <button type="submit" (click)="editOrUpdateMember()" [ngClass]="edit  ? 'bg-indigo-600 hover:bg-indigo-700 text-white' : 'bg-indigo-300 hover:bg-indigo-400 text-indigo-700'" class="hover:-translate-y-px hover:shadow-xs active:opacity-85 tracking-tight-rem transition-all ease-in   border border-transparent rounded-md shadow-sm px-8 p-3 my-6 flex items-center justify-center font-semibold focus:outline-none focus:ring-2 focus:ring-offset-2 ring-indigo-600 w-full">
                                            {{edit ? 'Save' : 'Edit'}}
                                        </button>
                                    </div>

                                </div>

                                <!-- Admission Info -->
                                <div *ngIf="mainTab === 'admission'" class="grid {{!edit ? 'grid-cols-2' : 'grid-cols-1'}} lg:grid-cols-2 gap-6 lg:gap-x-16 mx-4 lg:mx-8 px-4">

                                    <div class="col-span-1 space-y-6">


                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700"> Member ID </dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900"> {{selectedItem.member_id}} </dd>
                                            <dd *ngIf="edit" class="mt-1">
                                                <input type="text" name="member_id" [(ngModel)]="selectedItem.member_id" class="col-span-2 w-full bg-white mt-1 rounded-md border py-2 px-3 shadow-sm border-indigo-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:outline-none sm:text-sm">
                                            </dd>
                                        </div>

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700">Admission Date </dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900"> {{selectedItem.admission_date ?? selectedItem.membership_date}} </dd>
                                            <dd *ngIf="edit" class="mt-1">
                                                <input type="date" name="admission_date" [(ngModel)]="admissionDate" class="col-span-2 w-full bg-white mt-1 rounded-md border py-2 px-3 shadow-sm border-indigo-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:outline-none sm:text-sm">
                                            </dd>
                                        </div>

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700">Department(s) </dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900"> 
                                                <div *ngIf="selectedItem.departments && selectedItem.positions.length">
                                                    <div class="w-full p-0.5" *ngFor="let item of selectedItem.departments"> • {{item.name}}</div> 
                                                </div>
                                            </dd>
                                            <dd *ngIf="edit" class="mt-1">
                                                <app-select-input id="departments" [selectInputData]="{ items: nonDB.departments, placeholder: 'Select Department(s)', displayProperty: 'name', multiple: true, searchProperty: 'name' }" (selectionChanged)="onSelectionChanged('departments', $event)"></app-select-input>
                                            </dd>
                                        </div>

                                    </div>

                                    <div class="col-span-1 space-y-6">

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700">Membership Status </dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900"> {{selectedItem.membership_status ? selectedItem.membership_status : '(Empty)'}}
                                            </dd>
                                            <dd *ngIf="edit" class="mt-1">
                                                <app-select-input id="membership_status" [selectInputData]="{ items: nonDB.membershipStatuses, placeholder: 'Select Status', displayProperty: 'name', searchProperty: 'name', defaultValue: nonDB.membershipStatuses[0] }" (selectionChanged)="onSelectionChanged('membership_status', $event)"></app-select-input>
                                            </dd>
                                        </div>

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700">ID Card Status</dt>
                                            <dd class="mt-1 text-sm text-slate-900"> {{selectedItem.with_card ? 'Has ID Card' : 'No ID Card'}} </dd>
                                        </div>

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700"> Positions</dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900">
                                                <div *ngIf="selectedItem.positions && selectedItem.positions.length">
                                                    <div class="w-full p-0.5" *ngFor="let item of selectedItem.positions"> • {{item.name}}</div> 
                                                </div>
                                                <span *ngIf="!selectedItem.positions || !selectedItem.groups.length">(Empty)</span>
                                            </dd>
                                            <dd *ngIf="edit" class="mt-2">
                                                <app-select-input id="positions" [selectInputData]="{ items: nonDB.positions, placeholder: 'Select Position(s)', displayProperty: 'name', multiple: true, searchProperty: 'name' }" (selectionChanged)="onSelectionChanged('positions', $event)"></app-select-input>                                           
                                            </dd>
                                        </div>

                                        <div class="w-full">
                                            <dt class="text-sm font-medium text-indigo-700"> Member Groups </dt>
                                            <dd *ngIf="!edit" class="mt-1 text-sm text-slate-900">
                                                <div *ngIf="selectedItem.groups && selectedItem.groups.length">
                                                    <div class="w-full p-0.5" *ngFor="let item of selectedItem.groups"> • {{item.name}}</div> 
                                                </div>
                                                <span *ngIf="!selectedItem.groups || !selectedItem.groups.length">(Empty)</span>
                                            </dd>
                                            <dd *ngIf="edit" class="mt-2">
                                                <app-select-input id="groups" [selectInputData]="{ items: nonDB.groups, multiple: true, placeholder: 'Select Group', displayProperty: 'name', searchProperty: 'name' }" (selectionChanged)="onSelectionChanged('groups', $event)"></app-select-input>                                          
                                            </dd>
                                        </div>

                                    </div>

                                    <!-- action button -->
                                    <div class="{{!edit ? 'col-span-2' : 'col-span-1'}} lg:col-span-2 mt-10 border-t border-indigo-100">
                                        <button type="submit" (click)="editOrUpdateMember()"  [ngClass]="edit  ? 'bg-indigo-600 hover:bg-indigo-700 text-white' : 'bg-indigo-300 hover:bg-indigo-400 text-indigo-700'" class="hover:-translate-y-px hover:shadow-xs active:opacity-85 tracking-tight-rem transition-all ease-in rounded-md shadow-sm px-8 p-3 my-6 flex items-center justify-center font-semibold focus:outline-none focus:ring-2 focus:ring-offset-2 ring-indigo-600 w-full">
                                            {{edit ? 'Save' : 'Edit'}}
                                        </button>
                                    </div>

                                </div>

                                <!-- Relations Page -->
                                <div *ngIf="mainTab === 'relations'" class="grid gap-x-4 gap-y-4 grid-cols-5 px-3 lg:px-8">

                                    <!-- Siblings list -->
                                    <div *ngIf="subItem.length" class="col-span-5 lg:col-span-2 xl:order-first {{!subItemMobile ? 'flex' : 'hidden lg:flex' }} lg:flex flex-col flex-shrink-0 w-full">
                                        <nav id="slim-scroll" class="bg-white overflow-y-auto flex-1 w-full border-indigo-500 divide-y divide-x divide-slate-200 z-15">
                                            <div class="relative border bg-white">

                                                <div class="top-0 border-t border-b border-indigo-50 bg-slate-200 px-4 text-md text-slate-500">
                                                    <div class="flex items-center justify-between py-2">
                                                        <div class="flex justify-start items-center">
                                                            <span class="relative py-1 pr-1 rounded-md">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-indigo-700">                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                                                                </svg>
                                                            </span>
                                                            <span class="ml-2">
                                                                <div class="text-lg font-semibold text-indigo-700"> Relations </div>
                                                                <div class="text-sm font-sm text-slate-600">(Select Relation To View Their Info)</div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <ul role="list" class="relative z-0 divide-y divide-slate-200">

                                                    <li *ngFor="let item of subItem" (click)="selectObject(item, 'subItems')">
                                                        <div [ngClass]="selectedSubItem === item ? 'bg-indigo-50' : 'hover:bg-slate-100'" class="group relative pl-6 pr-3 py-3 flex items-center cursor-pointer space-x-3">     
                                                            <div class="flex-shrink-0"><img class="h-12 w-12 rounded-full" [src]="item.photo"></div>
                                                            <div class="flex-1 min-w-0">
                                                                <a class="focus:outline-none space-y-1">
                                                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                                                    <p [ngClass]="selectedSubItem === item ? 'text-indigo-700 group-focus:text-indigo-700' : 'text-slate-700'" class="text-md font-medium"> {{item.last_name}} {{item.other_names ? item.other_names : ''}} {{item.first_name}} </p>
                                                                    <p class="text-sm text-slate-500 truncate"> ID: <span class="text-slate-700 font-medium">{{item.member_id}}</span></p>
                                                                </a>
                                                            </div>
                                                            <div class="flex-shrink-0">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" [ngClass]="selectedSubItem === item  ? 'text-indigo-700 group-focus:text-indigo-700' : 'text-white group-hover:text-slate-400'" class="w-6 h-6 font-bold">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </nav>
                                    </div>

                                    <!-- Siblings Profile -->
                                    <div *ngIf="subItem.length && selectedSubItem" class="{{subItemMobile ? 'flex' : 'hidden lg:flex' }} lg:flex flex-col flex-shrink-0 col-span-5 lg:col-span-3 px-4 pt-4 pb-2 border border-indigo-100 rounded-md shadow-md">

                                        <div class="mb-2 pb-2 border-b-2 border-indigo-100">

                                            <div class="flex items-center justify-between pb-2 border-b-2 border-indigo-100">
                                                <div class="flex justify-start">
                                                    <span class="relative">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-indigo-600">     
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                                                        </svg>
                                                    </span>
                                                    <span class="mx-2 font-semibold text-slate-700 text-md">
                                                        <span class="text-lg flex"><span class="flex lg:hidden mr-1">Selected</span>Relation Details</span>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="flex min-w-0 space-x-4 justify-start mt-4 mb-2">
                                                <div class="flex-shrink-0 group inline-flex overflow-hidden rounded-xl border-4 border-white bg-white" id="slim-scroll">
                                                    <img class="cursor-pointer h-24 w-20 flex-shrink-0 sm:h-32 sm:w-28" [src]="selectedSubItem.photo" alt="">
                                                </div>
                                                <div class="space-y-1 md:space-y-4">
                                                    <div class="space-x-2">
                                                        <span class="text-md md:text-xl font-bold text-slate-400">Name:</span>
                                                        <span class="text-lg md:text-2xl font-bold text-slate-900 flex-row flex-wrap whitespace-pre-wrap">{{selectedSubItem.first_name}} {{selectedSubItem.other_names ? selectedSubItem.other_names : ''}} {{selectedSubItem.last_name}}</span>
                                                    </div>
                                                    <div class="space-x-2">
                                                        <span class="text-md md:text-xl font-bold text-slate-400">ID No.:</span>
                                                        <span class="md:text-lg font-bold text-slate-600 truncate">{{selectedSubItem.member_id}}</span>
                                                    </div>
                                                    <div class="space-x-2">
                                                        <span class="text-md md:text-xl font-bold text-slate-400">Class:</span>
                                                        <span class="md:text-lg font-bold text-slate-600 truncate">{{selectedSubItem.class}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="flex mt-2 md:space-y-3 sm:flex items-end justify-between md:justify-end sm:space-y-0 space-x-1 lg:space-x-4">


                                                <!-- <app-single-button class="w-full" [buttonData]="{buttonName: 'Message', icon: 'messagingIcon'}" (singleActionButton)="message(selectedSubItem)"></app-single-button>
                                                
                                                <app-download-button class="w-full"  [downloadData]="{noOptions: false}"></app-download-button> -->

                                            </div>

                                        </div>

                                        <div class="py-6 col-span-5 lg:col-span-3 grid grid-cols-2 gap-6 lg:mx-8 px-4">

                                            <div class="col-span-1 space-y-6">

                                                <div class="col-span-1">
                                                    <dt class="text-sm font-medium text-indigo-700"> First Name </dt>
                                                    <dd class="mt-1 text-sm text-slate-900"> {{selectedSubItem.first_name}} </dd>
                                                </div>

                                                <div class="col-span-1">
                                                    <dt class="text-sm font-medium text-indigo-700"> Last Name </dt>
                                                    <dd class="mt-1 text-sm text-slate-900"> {{selectedSubItem.last_name ? selectedSubItem.last_name : '(Empty)'}} </dd>
                                                </div>

                                                <div class="col-span-1">
                                                    <dt class="text-sm font-medium text-indigo-700"> Others Name(s) </dt>
                                                    <dd class="mt-1 text-sm text-slate-900"> {{selectedSubItem.other_names ? selectedSubItem.other_names : '(Empty)'}} </dd>
                                                </div>

                                                <div class="col-span-1">
                                                    <dt class="text-sm font-medium text-indigo-700"> Gender </dt>
                                                    <dd class="mt-1 text-sm text-slate-900"> {{selectedSubItem.gender}}</dd>
                                                </div>

                                                <div class="col-span-1">
                                                    <dt class="text-sm font-medium text-indigo-700"> Phone Number 1</dt>
                                                    <dd class="mt-1 text-sm text-slate-900"> {{selectedSubItem.phone1 ?selectedSubItem.phone1 : '(Empty)'}} </dd>
                                                </div>

                                                <div class="col-span-1">
                                                    <dt class="text-sm font-medium text-indigo-700"> Phone Number 2</dt>
                                                    <dd class="mt-1 text-sm text-slate-900"> {{selectedSubItem.phone2 ?selectedSubItem.phone2 : '(Empty)'}} </dd>
                                                </div>

                                                <div class="col-span-1">
                                                    <dt class="text-sm font-medium text-indigo-700"> Email</dt>
                                                    <dd class="mt-1 text-sm text-slate-900"> {{selectedSubItem.email ?selectedSubItem.email : '(Empty)'}} </dd>
                                                </div>

                                                <div class="col-span-1">
                                                    <dt class="text-sm font-medium text-indigo-700"> Residencial Address </dt>
                                                    <dd class="mt-1 text-sm text-slate-900"> {{selectedSubItem.resid_address ?selectedSubItem.resid_address : '(Empty)'}} </dd>
                                                </div>

                                            </div>

                                            <div class="col-span-1 space-y-6">

                                                <div class="col-span-1">
                                                    <dt class="text-sm font-medium text-indigo-700"> Member ID </dt>
                                                    <dd class="mt-1 text-sm text-slate-900"> {{selectedSubItem.member_id}} </dd>
                                                </div>

                                                <div class="col-span-1">
                                                    <dt class="text-sm font-medium text-indigo-700"> Admission Date </dt>
                                                    <dd class="mt-1 text-sm text-slate-900"> {{selectedSubItem.admission_date}} </dd>
                                                </div>

                                                <div class="col-span-1">
                                                    <dt class="text-sm font-medium text-indigo-700"> Notes </dt>
                                                    <dd class="mt-1 text-sm text-slate-900"> {{selectedSubItem.notes ?selectedSubItem.notes : '(Empty)'}} </dd>
                                                </div>

                                            </div>

                                        </div>


                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>    
                </div>
            </div>
        </main>

    <!-- </div> -->
</div>

<app-fab-btn *ngIf="isShowingDetails" [fabData]="fabData" class="lg:hidden" (clicked)="handleFabClick()"></app-fab-btn>

