<label class="sr-only">Modals</label>
<!-- <ng-template #commonFormModal></ng-template>
<ng-template #customModal></ng-template> -->

<dialog id="simple_modal" class="modal bg-violet-50/10">
    <div class="modal-box max-w-screen-2xl" [ngClass]="tableData.modalSize ?? 'w-full' " id="simpleTableModal">
        <ng-template #commonFormModal></ng-template>
        <div class="modal-action">
          <form method="dialog">
                <button class="btn btn-md btn-circle absolute right-2 top-2 text-white bg-violet-900 font-bold" aria-label="close modal" role="button">
                   <i class="fa fa-remove fa-3x"></i>
                </button>
          </form> 
        </div>
      </div>
  </dialog>
 

<label class="sr-only">Table</label>
<div class="flex flex-col p-4 bg-gray-50" [ngClass]="{'border-2 border-indigo-50': tableData.title}">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="pb-2 min-w-full sm:px-6 lg:px-8">

            <label class="sr-only">Table Title</label>
            <header *ngIf="tableData.title" class="justify-between flex items-center h-10 text-darkBlue">
                <span></span>
                <span class="font-semibold text-2xl">{{tableData.title}}</span>
                <a class="justify-end cursor-pointer" (click)="getItems();">
                    <i class="-ml-10 fa-solid fa-arrows-rotate fa-lg animate-spin" *ngIf="loadingData"></i>
                    <i class="-ml-10 fa-solid fa-arrow-rotate-right fa-lg" *ngIf="!loadingData"></i>
                </a>
            </header>
  

            <label class="sr-only">Table Controls</label>
            <div class="justify-center p-3 py-8 w-full grid grid-cols-12" [ngClass]="{'border-t-2 border-darkBlueLight': tableData.title}" *ngIf="tableData.allowFieldsMenu">

                <div class="flex p-2 sm:items-center col-span-12 text-white w-full relative">
                    <div class="flex select-none space-x-3">

                        <button type="button" (click)="tableData.isGroup = !tableData.isGroup;getGroupedData()" class="rounded-md bg-darkBlue px-2 py-2 transition duration-300 hover:bg-darkBlueLight" *ngIf="tableData.groupable"> 
                            <div class="flex items-center">
                                <i *ngIf="tableData.isGroup" class="fa-solid fa-table-list fa-lg"></i>
                                <i *ngIf="!tableData.isGroup" class="fa-solid fa-list-ol fa-lg"></i>
                                <span class="hidden md:block ml-2"> {{tableData.isGroup ? ' Ungroup' : ' Group'}} List</span>
                            </div>
                        </button>

                        <button *ngIf="tableData.isGroup" type="button" (click)="expandAll()" class="rounded-md bg-blue-500 px-3 py-2 transition duration-300 hover:bg-blue-600"> 
                            <div class="flex items-center">
                                <i *ngIf="expanded" class="fa-solid fa-arrows-to-circle fa-lg"></i>
                                <i *ngIf="!expanded" class="fa-solid  fa-solid fa-maximize  fa-lg"></i>
                                <span class="hidden md:block ml-2">{{expanded ? ' Close' : ' Expand'}} List</span>
                            </div>    
                        </button>

                        <span class="relative flex" *ngIf="tableData.allowDownload">

                            <button type="button" (click)="dropdownOpen = !dropdownOpen" class="rounded-md h-12 bg-primaryDeep px-2 py-2 transition duration-300 hover:bg-primaryLight">
                                <span>Download As </span>  
                                <i class="fa-solid fa-caret-down ml-1"></i>
                            </button>

                            <div [hidden]="!dropdownOpen" (click)="dropdownOpen = false;" class="fixed inset-0 h-full w-full z-10"></div>

                            <app-download-links [hidden]="!dropdownOpen" [downloadData]="{dropdownOpen: dropdownOpen, mainDownload: true, linkType: '', filename: tableData.dataModel, fileId: 'export-action'}">
                            </app-download-links>

                        </span>

                     
                       <div class="right-5 absolute px-3">
                            <button  *ngFor="let btnFx of tableData.customMenuButtons" type="button" (click)="callComponentFnc(btnFx)" 
                            class="rounded-md bg-darkBlue px-3 py-2 h-12 transition duration-300 hover:bg-violet-900 mr-3">
                                <i [class]="'fa-solid fa-lg fa-' + btnFx.icon"></i>
                                <span class="xs:hidden">{{btnFx.label}}</span> 
                            </button>

                            <button *ngIf="tableData.allowNew && tableData.railsCtrl" type="button" (click)="openForm(newItem,-1,{},{top: true, table: false})" 
                            class="rounded-md bg-darkBlue px-3 py-2 h-12 transition duration-300 hover:bg-violet-900 space-x-1">
                                <i class="fa-solid fa-add fa-lg"></i>
                                <span class="xs:hidden">{{tableData.newBtnLabel ?? 'New ' + tableData.dataModel}}</span> 
                            </button>
                       </div>
                        


                    </div> 
                </div>

                <div class="md:col-span-4 col-span-12 p-2 space-y-2" *ngIf="tableData.isGroup && !tableData.noGroupSelect">
                    <label class="text-muted hidden lg:block">Group Report By</label>
                    <ng-select [(ngModel)]="tableData.groupBy" (change)="getGroupedData()" name="group_by" placeholder="Group report by column field">
                        <ng-option *ngFor="let sel of tableParams.customFields" [value]="sel.v_column">{{sel.label}}</ng-option>
                    </ng-select>
                </div>
                <div class="md:col-span-8 col-span-12 p-2 space-y-2" *ngIf="tableData.allowSelectedFields">
                    <label class="text-muted hidden lg:block"> Selected Columns</label>
                    <ng-select [multiple]="true" [(ngModel)]="tableParams.fields" name="selected_fields" [closeOnSelect]="false">
                        <ng-option *ngFor="let sel of tableParams.customFields" [value]="sel">{{sel.label}}</ng-option>
                    </ng-select>
                </div>

            </div>

            <label class="sr-only">Table Content</label>
            <div class="shadow-sm overflow-y-auto border-b border-violet-100 mb-16">
                <table class="min-w-full mb-20 bg-white">

                    <thead class="text-white bg-primaryDeep">
                        <tr>
                            <th class="th-control">SN</th>
                            <th class="th-control" *ngIf="tableData.isGroup">
                                <div class="mb-2" (click)="sortReport(null)">
                                    <span class="mr-3">Grouped</span>
                                    <span *ngIf="!groupSort"><i class="fa fa-sort"></i></span>
                                    <span *ngIf="groupSort === 'asc'"><i class="fa fa-sort-asc"></i></span>
                                    <span *ngIf="groupSort === 'desc'"><i class="fa fa-sort-desc"></i></span>
                                </div>

                                <div>
                                    <input type="text" placeholder="Search by grouped" [(ngModel)]="groupSearchParams" (ngModelChange)="searchReport()" class="w-full h-8 bg-white ring-0 focus:outline-1 rounded text-darkBlue font-normal text-sm pl-2" />
                                </div>
                            </th> 
                            <th class="th-control" *ngFor="let attr of tableParams.fields">
                                <div class="mb-2" (click)="sortReport(attr)">
                                    <span class="mr-3 font-normal">{{attr.label}}</span>
                                    <span *ngIf="!attr.sort"><i class="fa fa-sort"></i></span>
                                    <span *ngIf="attr.sort === 'asc'"><i class="fa fa-sort-asc"></i></span>
                                    <span *ngIf="attr.sort === 'desc'"><i class="fa fa-sort-desc"></i></span>
                                </div>
                                <div>
                                    <input type="text" placeholder="Search by {{attr.label}}" [(ngModel)]="attr.searchParams" (ngModelChange)="searchReport()" class="w-full h-8 bg-white ring-0 focus:outline-1 rounded text-darkBlue font-normal text-sm pl-2" />
                                </div>
                            </th>
                            
                            <th *ngIf="tableData.allowMenu || tableData.isGroup" class="th-control"></th>

                        </tr>
                    </thead>

                    <tbody class="divide-y  divide-darkBlueExtremeLight" id="slim-scroll">
                        <ng-container *ngFor="let group of tableParams.groupedData; let k = index">

                            <label class="sr-only">Grouped Data Keys</label>
                            <tr *ngIf="group.groupArray.length > 0">
                                <td class="td-control">{{!group.showRow ? (k + 1) : ''}}</td>
                                <td class="left-5 td-control">
                                    <a (click)="group.showRow = !group.showRow">
                                        <i class="fa-solid mr-2 text-sky-600 font-bold" [ngClass]="{'fa-chevron-right': !group.showRow, 'fa-angle-down': group.showRow }"></i>
                                        <strong class="text-primary" *ngIf="tableParams.groupedField.isDate">{{ group.groupKey | date: 'EEE, MMM d, y'}}</strong>
                                        <strong class="text-sky-600" *ngIf="!tableParams.groupedField.isDate">{{ group.groupKey }}</strong>
                                    </a>
                                </td>
                                <td *ngFor="let field of tableParams.fields" class="text-center td-control">
                                    <div class="text-primary" *ngIf="field.getTotal && !group.showRow">
                                        <span class="font-bold text-sky-600">{{ group.groupArray | sumByProperty: field.v_column | currency:  ' '}}</span>
                                    </div>
                                </td>
                                <td class="py-1 flex justify-center">
                                    <div class="relative flex">
                                        <button type="button" (click)="group.dropdownOpen = !group.dropdownOpen; currentGroup = group" class="text-center p-2 transition duration-300">
                                            <i class="fa-solid fa-list fa-lg"></i>
                                        </button>

                                        <div [hidden]="!group.dropdownOpen" (click)="group.dropdownOpen = false;" class="fixed inset-0 h-full w-full z-10"></div>
                                        <app-download-links [hidden]="!group.dropdownOpen" 
                                        [downloadData]="{linkType: '', filename: group.groupKey, fileId: 'group-download', group, tableData, tableParams, index: k}">
                                        </app-download-links>

                                    </div>
                                </td>
                            </tr>

                            <!-- End Grouped Data Keys -->
                            <ng-container *ngIf="(tableData.isGroup && group.showRow) || !tableData.isGroup">
                                <tr class="text-gray-700 font-semibold text-md" *ngFor="let item of (tableData.isGroup ? group.groupArray : tableParams.data); let i = index, let l=last">

                                    <td class="td-control">
                                        <div class="text-center text-md text-violet-800">{{!group.showRow ? (i + 1) : ''}}</div>
                                    </td>
                                    <td *ngIf="tableData.isGroup" class="td-control">
                                        <span>{{group.showRow ? (i + 1) : ''}}</span>
                                    </td>

                                    <td *ngFor="let attr of tableParams.fields" class="td-control allow-breaks" [ngClass]="{'text-center': attr.getTotal}">
                                       
                                        <div *ngIf="!item.isEditing || (item.isEditing && !attr.input)">
                                            <span *ngIf="attr.isDate">

                                                {{item[attr.v_column] | date: attr.showTime ? 'dd-MM-yyyy h:mm:ss a' : 'dd-MM-yyyy'}}
                                            </span>
                                            <span *ngIf="!attr.isDate">
                                                <span *ngIf="attr.fx" (click)="callComponentFnc({index: i, item: item, fx: attr.fx})">{{item[attr.v_column]}}</span>
                                                <span *ngIf="!attr.fx">
                                                    <span *ngIf="attr.isJson">{{item[attr.v_column] | json }}</span>
                                                    <span *ngIf="!attr.isJson">{{item[attr.v_column]}}</span>
                                                    
                                                </span>
                                                
                                            </span>
                                        </div>

                                        <div class="col-span-12 sm:col-span-12" *ngIf="item.isEditing && attr.input">
                                            <input *ngIf="attr.input === 'input'" type="{{attr.inputType}}" [(ngModel)]="item[attr.m_column ?? attr.v_column]" name="{{i}}{{attr.v_column  ?? attr.m_column}}" [required]="attr.required" placeholder="{{attr.placeholder ?? ('Enter ' + attr.label)}}"
                                                class="mb-2 mt-2 text-darkBlue focus:border focus:border-indigo-700 font-normal 
                                        w-full h-12 pl-3 pt-1 border-darkBlue rounded border-2" />

                                            <ng-select *ngIf="attr.input === 'select'" [closeOnSelect]="!attr.isMultiple" [multiple]="attr.isMultiple" [(ngModel)]="item[attr.m_column ?? attr.v_column]" name="{{attr.v_column  ?? attr.m_column}}" [required]="attr.required" placeholder="{{attr.placeholder ?? ('Search or select ' + attr.label)}}"
                                                [appendTo]="'Body'">
                                                <ng-option *ngFor="let sel of attr.selectData" [value]="sel[attr.s_column ?? attr.v_column] ?? sel">{{sel[attr.s_value] ?? sel}}</ng-option>
                                            </ng-select>

                                            <textarea *ngIf="attr.input === 'textarea'" [(ngModel)]="item[attr.m_column ?? attr.v_column]" name="{{i}}{{attr.v_column  ?? attr.m_column}}" [required]="attr.required" placeholder="{{attr.placeholder ?? ('Enter ' + attr.label)}}" class="mb-2 mt-2 text-darkBlue focus:border focus:border-indigo-700 font-normal 
                                            w-full h-12 pl-3 pt-1 border-darkBlue rounded border-2">
                                        </textarea>

                                            <div *ngIf="attr.input === 'radio'">
                                                <input [(ngModel)]="item[attr.m_column ?? attr.v_column]" type="radio" [value]="true" name="{{i}}{{attr.v_column  ?? attr.m_column}}">
                                                <label class="ml-2 text-sm font-medium text-darkBlue dark:text-darbg-darkBlueLight">{{attr.true_text ?? 'Yes'}}</label>
                                                <br>
                                                <input [(ngModel)]="item[attr.m_column ?? attr.v_column]" type="radio" [value]="false" name="{{i}}{{attr.v_column  ?? attr.m_column}}">
                                                <label class="ml-2 text-sm font-medium text-darkBlue dark:text-darbg-darkBlueLight">{{attr.false_text ?? 'No'}}</label>
                                            </div>

                                        </div>

                                    </td>

                                    <td class="td-control" *ngIf="tableData.allowMenu || tableData.isGroup">

                                        <div class="flex justify-center" *ngIf="tableData.allowMenu">

                                            <div class="relative flex cursor-pointer" >
                                                <button *ngIf="!item.isEditing" (click)="item.dropdownOpen = !item.dropdownOpen" class="relative block rounded-md bg-white text-sky-500 focus:outline-none hover:text-blue-500">
                                                <i class="fa-solid fa-bars fa-2x"></i>
                                                </button>

                                                <div [hidden]="!item.dropdownOpen" (click)="item.dropdownOpen = false" class="fixed inset-0 h-full w-full z-10"></div>

                                                <ul [hidden]="!item.dropdownOpen" class="absolute right-0 mt-2 py-5 w-48 bg-white rounded-md shadow-xl z-20">
                                                    <li *ngIf="tableData.allowEdit" (click)="openForm(item,i,group);" class="block px-4 py-2 text-sm capitalize text-darkBlue hover:bg-blue-500 hover:text-white">
                                                        <i class="fa-solid fa-pencil fa-lg"></i>
                                                        <span class="ml-3">Edit</span>
                                                    </li> 
                                                    <hr>
                                                    <li *ngIf="tableData.allowDelete" (click)="deleteItem(item,i,group);item.dropdownOpen = false" class="block px-4 py-2 text-sm capitalize text-darkBlue hover:bg-blue-500 hover:text-white">
                                                        <i class="fa-solid fa-trash fa-lg"></i>
                                                        <span class="ml-3">Delete</span>
                                                    </li>
                                                    <li *ngFor="let menu of tableData.ItemMenu" (click)="callComponentFnc(menu);item.dropdownOpen = false" class="block px-4 py-2 text-sm capitalize text-darkBlue hover:bg-blue-500 hover:text-white">
                                                        <i class="fa-solid fa-lg" [ngClass]="menu.icon"></i>
                                                        <span class="ml-3">{{menu.label}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>


                                        <div *ngIf="item.isEditing" class="flex justify-evenly items-center cursor-pointer">
                                            <span class="mr-5" (click)="saveItem(item,i,group)">
                                            <i class="fa-solid fa-save fa-2x text-sky-500 hover:text-sky-600"></i>
                                            </span>
                                                <span (click)="getItem(item,i)">
                                                <i class="fa-solid fa-remove fa-2x text-red-500 hover:text-red-600"></i>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="tableData.isGroup && group.groupArray.length && this.tableParams.totalFields.length && group.showRow">
                                    <td [colSpan]="2" class="td-control text-center">
                                        <span class="font-bold text-red-500">Total (GHS)</span>
                                    </td>
                                    <td *ngFor="let field of tableParams.fields" class="text-center td-control">
                                        <div class="text-primary" *ngIf="field.getTotal">
                                            <span class="font-bold text-red-600">{{ group.groupArray | sumByProperty: field.v_column | currency:  ' '}}</span>
                                        </div>
                                    </td>
                                    <td class="td-control"></td>
                                </tr>
                            </ng-container>

                        </ng-container>
                        <tr *ngIf="tableData.showTotal && tableParams.data.length">
                            <td class="td-control" [colSpan]="tableData.isGroup ? 2 : 1">
                                <span class="font-bold flex flex-row-reverse">Total (GHS)</span>
                            </td>
                            <td *ngFor="let attr of tableParams.fields" class="text-center td-control">
                                <span *ngIf="attr.getTotal" class="mr-2 font-bold text-primaryDeep">{{ tableParams.data | sumByProperty: attr.v_column | currency:  ' '}}</span>

                            </td>
                            <td *ngIf="tableData.allowMenu || tableData.isGroup" class="td-control"></td>

                        </tr>

                        <tr *ngIf="tableData.inlineEdit && !addingFrom.top">

                            <td [colSpan]="tableData.isGroup ? 2 : 1" class="td-control"></td>
                            <td *ngFor="let attr of tableParams.fields; let i = index" class="td-control whitespace-nowrap text-sm text-daborder-darkBlueLight">
                                <div class="col-span-12 sm:col-span-12" *ngIf="attr.input && addingNew">
                                    <input *ngIf="attr.input === 'input'" type="{{attr.inputType}}" [(ngModel)]="newItem[attr.m_column ?? attr.v_column]" name="{{i}}{{attr.v_column  ?? attr.m_column}}" [required]="attr.required" placeholder="{{attr.placeholder ?? ('Enter ' + attr.label)}}"
                                        class="mb-2 mt-2 text-darkBlue focus:outline-none focus:border focus:border-indigo-700 font-normal 
                                    w-full h-12 flex items-center pl-3 pt-1 text-md border-darkBlue rounded border-2" />


                                    <ng-select *ngIf="attr.input === 'select'" [closeOnSelect]="!attr.isMultiple" [multiple]="attr.isMultiple" [(ngModel)]="newItem[attr.m_column ?? attr.v_column]" name="{{attr.v_column  ?? attr.m_column}}" [required]="attr.required" placeholder="{{attr.placeholder ?? ('Enter ' + attr.label)}}"
                                        [appendTo]="'Body'">
                                        <ng-option *ngFor="let sel of attr.selectData" [value]="sel[attr.s_column ?? attr.v_column] ?? sel">{{sel[attr.s_value] ?? sel}}</ng-option>
                                    </ng-select>

                                    <textarea *ngIf="attr.input === 'textarea'" [(ngModel)]="newItem[attr.m_column ?? attr.v_column]" name="{{i}}{{attr.v_column  ?? attr.m_column}}" [required]="attr.required" placeholder="{{attr.placeholder ?? ('Enter ' + attr.label)}}" class="mb-2 mt-2 text-darkBlue focus:outline-none focus:border focus:border-indigo-700 font-normal 
                                        w-full h-12 flex items-center pl-3 pt-1 text-md border-darkBlue rounded border-2">
                                    </textarea>

                                    <!-- <label class="inline-flex items-center mt-3" *ngIf="attr.input === 'checkbox'">
                                        <input type="radio" class="form-checkbox h-6 w-5 text-blue-600" [(ngModel)]="newItem[attr.m_column ?? attr.v_column]" name="{{i}}{{attr.v_column  ?? attr.m_column}}">
                                        <span class="ml-2 text-daborder-darkBlueLight text-xs">
                                            {{newItem[attr.m_column ?? attr.v_column] ? (attr.false_text ?? 'Yes') : (attr.true_text ?? 'No')}}
                                        </span>
                                    </label> -->

                                    <div *ngIf="attr.input === 'radio'">
                                        <input [(ngModel)]="newItem[attr.m_column ?? attr.v_column]" type="radio" [value]="true" name="{{i}}{{attr.v_column  ?? attr.m_column}}">
                                        <label class="ml-2 text-sm font-medium text-darkBlue dark:text-darbg-darkBlueLight">{{attr.true_text ?? 'Yes'}}</label>
                                        <br>
                                        <input [(ngModel)]="newItem[attr.m_column ?? attr.v_column]" type="radio" [value]="false" name="{{i}}{{attr.v_column  ?? attr.m_column}}">
                                        <label class="ml-2 text-sm font-medium text-darkBlue dark:text-darbg-darkBlueLight">{{attr.false_text ?? 'No'}}</label>
                                    </div>

                                </div>

                            </td>
                            <td class="td-control">
                                <div class="p-2 text-center cursor-pointer">
                                    <i (click)="openForm(newItem,-1,{},{top: false, table: true})" class="fa-solid fa-add fa-2x text-indigo-600 hover:text-indigo-500 hover:bg-white"></i>
                                </div>
                                <div *ngIf="addingNew" class="flex justify-evenly items-center cursor-pointer">
                                    <span class="mr-5" (click)="saveItem(newItem,-1,null)">
                                        <i class="fa-solid fa-save fa-2x text-sky-500 hover:text-sky-600"></i>
                                    </span>
                                    <span (click)="addingNew = false;addingFrom = {top: false, table: false}">
                                        <i class="fa-solid fa-remove fa-2x text-red-500 hover:text-red-600"></i>
                                    </span>

                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- DOWNLOAD OPTIONS -->

<!-- TABLE DOWNLOAD -->

<div id="export-action" [hidden]="true" *ngIf="dropdownOpen">
    <table class="h5 table table-bordered table-hover table-condensed allow-breaks" >
        <thead class="table-header">
            <tr>
                <td [colSpan]="tableParams.fields.length + 2" class="text-center bg-pdf">
                    <span class="text-primary">{{tableData.title}}</span>
                </td>
            </tr> 
            <tr>
                <th class="text-center text-dark">SN</th>
                <th class="text-center text-danger" *ngIf="tableData.isGroup">Grouped By</th>
                <th class="text-center text-dark" *ngFor="let attr of tableParams.fields">{{attr.label}}</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let group of tableParams.groupedData; let k = index">
                <!-- Grouped Data Keys -->
                <tr *ngIf="group.groupArray.length > 0">
                    <td>{{!group.showRow ? (k + 1) : ''}}</td>
                    <td class="left-5">
                        <a (click)="group.showRow = !group.showRow">
                            <i class="fa-solid fa-lg mr-2 text-sky-600 font-bold " [ngClass]="{'fa-chevron-right': !group.showRow, 'fa-angle-down': group.showRow }"></i>
                            <strong class="text-primary font-bold">{{ group.groupKey }}</strong>
                        </a>
                    </td>
                    <td *ngFor="let field of tableParams.fields" class="text-center">
                        <div *ngIf="field.getTotal && !group.showRow">
                            <span class="font-bold text-primary">{{ group.groupArray | sumByProperty: field.v_column | currency:  ' '}}</span>
                        </div>
                    </td>
                </tr>
                <!-- End Grouped Data Keys -->
                <ng-container *ngIf="(tableData.isGroup && group.showRow) || !tableData.isGroup">
                    <tr *ngFor="let item of (tableData.isGroup ? group.groupArray : tableParams.data); let i = index, let l=last">

                        <td>
                            <div class="text-center">{{!group.showRow ? (i + 1) : ''}}</div>
                        </td>
                        <td *ngIf="tableData.isGroup">
                            <span>{{group.showRow ? (i + 1) : ''}}</span>
                        </td>

                        <td *ngFor="let attr of tableParams.fields" class="allow-breaks" [ngClass]="{'text-center': attr.getTotal}">
                            <div>{{item[attr.v_column]}}</div>
                        </td>
                    </tr>
                    <tr *ngIf="tableData.isGroup && this.tableParams.totalFields.length && group.showRow">
                        <td [colSpan]="2" class="text-center">
                            <span class="font-bold text-danger">Total (GHS)</span>
                        </td>
                        <td *ngFor="let field of tableParams.fields" class="text-center">
                            <div class="text-primary" *ngIf="field.getTotal">
                                <span class="font-bold text-danger">{{ group.groupArray | sumByProperty: field.v_column | currency:  ' '}}</span>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
            <tr *ngIf="tableData.showTotal">
                <td [colSpan]="tableData.isGroup ? 2 : 1">
                    <span class="font-bold pull-right mr-10">Total (GHS)</span>
                </td>
                <td *ngFor="let attr of tableParams.fields" class="text-center">
                    <span *ngIf="attr.getTotal" class="mr-5 font-bold text-primary">
                          {{ tableParams.data | sumByProperty: attr.v_column | currency:  ' '}}
                        </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- END TABLE DOWNLOAD -->

<!-- Group Download -->

<div id="group-download" [hidden]="true" *ngIf="currentGroup.dropdownOpen">
    <table class="h5 table table-bordered table-hover table-condensed allow-breaks">
        <thead class="table-header">
            <tr>
                <td [colSpan]="tableParams.fields.length + 1" class="text-center bg-white">
                    <span class="text-primary font-bold">{{currentGroup.groupKey}} group report from {{tableData.title}}</span>
                </td>
            </tr>
            <tr>
                <th class="text-center text-dark">SN</th>
                <th class="text-center text-dark" *ngFor="let attr of tableParams.fields">{{attr.label}}</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of currentGroup.groupArray; let i = index">

                <td>
                    <div class="text-center">{{i + 1}}</div>
                </td>
                <td *ngFor="let attr of tableParams.fields" class="allow-breaks" [ngClass]="{'text-center': attr.getTotal}">
                    <div>{{item[attr.v_column]}}</div>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <span class="font-bold text-danger">Total (GHS)</span>
                </td>
                <td *ngFor="let field of tableParams.fields" class="text-center">
                    <div class="text-primary" *ngIf="field.getTotal">
                        <span class="font-bold text-danger">{{ currentGroup.groupArray | sumByProperty: field.v_column | currency:  ' '}}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- End Group Download -->