<div class="min-h-screen h-full isolate bg-white mx-3 rounded-lg px-4 py-16 lg:py-24 lg:px-8">

    <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
      <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  
  
    <div class="sm:mx-auto sm:w-full sm:max-w-md lg:mt-32">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <div class="space-x-2 flex">
                <!-- <img class="h-6 w-6 rounded-full" src="favicon.ico" alt=""> -->
                <h1 class="text-xl font-bold text-indigo-800"><span class="text-xs align-super">the</span>Shepherd</h1>
            </div>
        </div>  
          <h2 class="mt-12 mb-4 text-center text-3xl font-extrabold text-gray-900">Reset Password</h2>
    </div>
    
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white p-4 pb-8 md:p-10 shadow sm:rounded-lg">
  
            <div class="pt-4 space-y-6 px-3 pb-3 md:px-0">

                <div *ngIf="!userConfirmed && !otpAccepted" class="space-y-6">

                    <div class="space-y-1">
                        <label for="username" class="block text-sm font-medium text-gray-700"> Enter Username / Email </label>
                        <div class="mt-1">
                            <input id="username" name="username" type="text" autocomplete="current-username" required (ngModelChange)="changeStatus()" [(ngModel)]="resetInfo.username" [ngClass]="{ 'ring-red-500 border-red-500': toastData.status == 'danger', 'ring-yellow-500 border-yellow-500': !resetInfo.username && toastData.status == 'warning', 'ring-indigo-500': toastData.status != 'danger' && toastData.status != 'warning' }" class="appearance-none block w-full px-3 py-2 border border-gray-300 focus:border-indigo-500 rounded-md shadow-sm placeholder-gray-400 focus:outline-none sm:text-sm">
                        </div>
                    </div>

                    <div>
                        <button (click)="confirmUsername(resetInfo.username)" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Continue</button>
                    </div>

                </div>

                <div *ngIf="userConfirmed && !otpAccepted" class="space-y-6">

                    <div class="space-y-1">
                        <label for="otp" class="block text-sm font-medium text-gray-700"> Enter OTP </label>
                        <div class="mt-1">
                            <input id="otp" name="otp" type="number" autocomplete="current-otp" required (ngModelChange)="changeStatus()" [(ngModel)]="resetInfo.otp" [ngClass]="{ 'ring-red-500 border-red-500': toastData.status == 'danger', 'ring-yellow-500 border-yellow-500': !resetInfo.otp &&  toastData.status == 'warning', 'ring-indigo-500': toastData.status != 'danger' && toastData.status != 'warning' }" class="appearance-none block w-full px-3 py-2 border border-gray-300 focus:border-indigo-500 rounded-md shadow-sm placeholder-gray-400 focus:outline-none sm:text-sm">
                        </div>
                    </div>

                    <div>
                        <button (click)="otpEntered(resetInfo.otp)" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Confirm</button>
                    </div>

                </div>

                <div *ngIf="userConfirmed && otpAccepted" class="space-y-6">

                    <div class="space-y-1">
                        <label for="newPassword" class="block text-sm font-medium text-gray-700"> Enter New Password </label>
                        <div class="mt-1">
                            <input id="newPassword" name="newPassword" type="password" autocomplete="current-newPassword" required (ngModelChange)="changeStatus()" [(ngModel)]="resetInfo.newPassword" [ngClass]="{ 'ring-red-500 border-red-500': toastData.status == 'danger', 'ring-yellow-500 border-yellow-500': !resetInfo.newPassword &&  toastData.status == 'warning', 'ring-indigo-500': toastData.status != 'danger' && toastData.status != 'warning' }" class="appearance-none block w-full px-3 py-2 border border-gray-300 focus:border-indigo-500 rounded-md shadow-sm placeholder-gray-400 focus:outline-none sm:text-sm">
                        </div>
                    </div>

                    <div class="space-y-1">
                        <label for="confirmPassword" class="block text-sm font-medium text-gray-700"> Confirm Password </label>
                        <div class="mt-1">
                            <input id="confirmPassword" name="confirmPassword" type="password" autocomplete="current-confirmPassword" required (ngModelChange)="changeStatus()" [(ngModel)]="resetInfo.confirmPassword" [ngClass]="{ 'ring-red-500 border-red-500': toastData.status == 'danger', 'ring-yellow-500 border-yellow-500': !resetInfo.confirmPassword &&  toastData.status == 'warning', 'ring-indigo-500': toastData.status != 'danger' && toastData.status != 'warning' }" class="appearance-none block w-full px-3 py-2 border border-gray-300 focus:border-indigo-500 rounded-md shadow-sm placeholder-gray-400 focus:outline-none sm:text-sm">
                        </div>
                    </div>

                    <div class="flex items-center">
                        <div class="flex items-center h-5">
                            <input id="acceptTerms" name="acceptTerms" type="checkbox" [checked]="acceptTerms" (change)="toggleAcceptTerms()" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
                        </div>
                        <div class="ml-3 text-xs">
                            <label for="acceptTerms" class="text-gray-500">I accept the <a class="font-medium text-indigo-600 hover:underline" href="../../pages/terms_and_conditions/" target="_blank">Terms & Conditions</a> and <a href="../../pages/policy/" target="_blank" class="font-medium text-indigo-600 hover:underline">Privacy Policy</a>.</label>
                        </div>
                    </div>

                    <div>
                        <button (click)="resetPassword(resetInfo)" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Reset</button>
                    </div>

                </div>
    
            </div>
    
            <div class="mt-6">
                <div class="relative">
                    <div class="absolute inset-0 flex items-center">
                        <div class="w-full border-t border-gray-300"></div>
                    </div>
                    <div class="relative flex justify-center text-sm">
                        <span (click)="goToSignIn()" class="px-2 bg-white text-gray-500 cursor:pointer"> Or <span class="text-indigo-500 hover:underline">Sign In</span> </span>
                    </div>
                </div>
            </div>
  
        </div>
    </div>
   
  </div>
  
  