  <div class="space-y-4 py-4 p-8 bg-gray-100">

    <!-- Upper Section -->
    <div class="flex justify-between px-1 items-center">

      <div class="text-2xl font-medium text-gray-800">Membership Form:</div>

      <app-download-button [downloadData]="{ componentId: 'membership_form', light: true, title: 'Print Form' }"></app-download-button>

    </div>

    <!-- Form -->
    <div class="space-y-4 my-4rounded-md">

      <div class="collapse collapse-arrow bg-white rounded-md">
        
        <input type="checkbox" class="peer" checked />
        
        <div class="collapse-title">
          <p class="text-md leading-5 text-indigo-800 mb-3 lg:col-span-1 pl-8 my-3">Personal Information:</p>
        </div>
        
        <div class="collapse-content">

          <div class="items-center space-x-4 flex justify-end px-8">
            
            <img src="avatars/avatar_male.png" alt="Avatar" class="w-16 h-16 rounded-lg shadow-md">
            
            <div>

              <button (click)="openUploadModal()" class="text-sm px-4 py-2.5 text-indigo-700 bg-indigo-50 rounded-lg hover:bg-indigo-100">
                Change avatar
              </button>

              <p class="text-xs text-gray-500 mt-">JPG or PNG. 1MB max.</p>
              
            </div>

          </div>

          <div class="lg:col-span-3 lg:grid lg:grid-cols-2 gap-6 p-8 pt-3">

            <div class="lg:col-span-1">
              <label for="first_name" class="block text-sm text-gray-700">First Name </label>
              <div class="mt-1">
                <input type="text" id="first_name" name="first_name" placeholder="eg. Simon" [(ngModel)]="member.first_name" autocomplete="true" class="placeholder:text-sm appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="last_name" class="block text-sm text-gray-700">Last Name </label>
              <div class="mt-1">
                <input type="text" id="last_name" name="last_name" placeholder="eg. Peter" [(ngModel)]="member.last_name" autocomplete="true" class="placeholder:text-sm appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="other_names" class="block text-sm text-gray-700">Other Name(s) </label>
              <div class="mt-1">
                <input type="text" id="other_names" name="other_names" placeholder="eg. Cephas" [(ngModel)]="member.other_names" autocomplete="true" class="placeholder:text-sm appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="dob" class="block text-sm text-gray-700">Date of Birth </label>
              <div class="mt-1">
                <input type="date" id="dob" format="dd-MM-yy" name="dob" placeholder="Select Date" [(ngModel)]="member.dob" class="placeholder:text-sm placeholder:text-slate- appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="gender" class="block text-sm text-gray-700">Gender </label>
              <div class="mt-1">
                <app-select-input [selectInputData]="{ items: data.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', multiple: false, autoClose: true, defaultValue: data.gender[0] }" (selectionChanged)="onSelectionChanged($event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="nationality" class="block text-sm text-gray-700">Title </label>
              <div class="mt-1">
                <app-select-input [selectInputData]="{ items: data.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', multiple: false, autoClose: true, defaultValue: data.gender[0] }" (selectionChanged)="onSelectionChanged($event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="nationality" class="block text-sm text-gray-700">Nationality </label>
              <div class="mt-1">
                <app-select-input [selectInputData]="{ items: data.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', multiple: false, autoClose: true, defaultValue: data.gender[0] }" (selectionChanged)="onSelectionChanged($event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="sibling_name" class="block text-sm text-gray-700">Marital Status </label>
              <div class="mt-1">
                <app-select-input [selectInputData]="{ items: data.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', multiple: false, autoClose: true, defaultValue: data.gender[0] }" (selectionChanged)="onSelectionChanged($event)"></app-select-input>
              </div>
            </div>

            <!-- <app-media-upload [aspectRatio]="16/9" [format]="'jpeg'" (imageUploaded)="handleImageCropped($event)"></app-media-upload> -->



            <!-- <div class="space-x-2 flex items-center justify-between pt-2 lg:col-span-1">
              <div class="flex-shrink-0 inline-block rounded-full overflow-hidden h-24 w-24" aria-hidden="true">
                <img class="rounded-md h-full w-full" [src]="this.member.photo" alt="">
              </div>
              <div class="rounded-md shadow-sm w-full">
                <div (click)="openmedia()" class="group relative border cursor-pointer border-slate-300 rounded-md p-3 flex items-center justify-center hover:bg-slate-50 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                  <label for="selected_media" class="relative text-sm leading-4 marker:font-medium text-slate-700 pointer-events-none">
                    <span>{{ croppedmedia === data.avatar ? 'Add' : 'Change' }} Photo</span>
                  </label>
                </div>
              </div>
            </div> -->

            <div class="lg:col-span-1">
              <label for="sibling_name" class="block text-sm text-gray-700">Highest Educational Qualification </label>
              <div class="mt-1">
                <app-select-input [selectInputData]="{ items: data.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', multiple: false, autoClose: true, defaultValue: data.gender[0] }" (selectionChanged)="onSelectionChanged($event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-2">
              <label for="sibling_name" class="block text-sm text-gray-700">Relations (If Applicable) </label>
              <div class="mt-1">
                <app-select-input [selectInputData]="{ items: data.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', multiple: false, autoClose: true, defaultValue: data.gender[0] }" (selectionChanged)="onSelectionChanged($event)"></app-select-input>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="collapse collapse-arrow bg-white bg-white rounded-md">
        <input type="checkbox" class="peer" checked />
        <div class="collapse-title">
          <p class="text-md leading-5 text-indigo-800 mb-3 lg:col-span-1 pl-8 my-3">Membership Information:</p>
        </div>
        <div class="collapse-content">
          <div class="lg:col-span-3 lg:grid lg:grid-cols-2 gap-6 p-8 pt-3">

            <div class="lg:col-span-1">
              <label for="sibling_name" class="block text-sm text-gray-700">Member Type </label>
              <div class="mt-1">
                <app-select-input [selectInputData]="{ items: data.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', multiple: false, autoClose: true, defaultValue: data.gender[0] }" (selectionChanged)="onSelectionChanged($event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="member_id" class="font-medium block text-sm text-slate-900">Member ID <span class="text-slate-500 text-sm"> (Last ID - LIS01):</span> </label>
              <div class="mt-1">
                <input type="text" id="member_id" name="member_id" placeholder="Member ID" [(ngModel)]="member.member_id" autocomplete="false" class="font-bold bg-indigo-50 placeholder:text-sm appearance-none min-w-0 w-full border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="membership_date" class="block text-sm text-gray-700">Membership Date </label>
              <div class="mt-1">
                <input type="date" id="membership_date" name="membership_date" [(ngModel)]="member.membership_date" class="placeholder:text-sm placeholder:text-slate-300 appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="first_name" class="block text-sm text-gray-700">Membership Status </label>
              <div class="mt-1">
                <app-select-input [selectInputData]="{ items: data.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', multiple: false, autoClose: true, defaultValue: data.gender[0] }" (selectionChanged)="onSelectionChanged($event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="first_name" class="block text-sm text-gray-700">Baptismal Status </label>
              <div class="mt-1">
                <app-select-input [selectInputData]="{ items: data.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', multiple: false, autoClose: true, defaultValue: data.gender[0] }" (selectionChanged)="onSelectionChanged($event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="membership_status" class="block text-sm text-gray-700">Invited By (If Apllicable) </label>
              <div class="mt-1">
                <app-select-input [selectInputData]="{ items: data.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', multiple: false, autoClose: true, defaultValue: data.gender[0] }" (selectionChanged)="onSelectionChanged($event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-2">
              <label for="group" class="block text-sm text-gray-700">Member Groups </label>
              <div class="mt-1">
                <app-select-input [selectInputData]="{ items: data.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', multiple: false, autoClose: true, defaultValue: data.gender[0] }" (selectionChanged)="onSelectionChanged($event)"></app-select-input>
              </div>
            </div>
            
            <div class="px-2 lg:col-span-2 lg:grid pt-8 mt-4 lg:grid-cols-2 gap-6 border-t border-indigo-200">

                  <p class="lg:col-span-2 text-xs leading-5 text-red-700 lg:whitespace-nowrap space-x-2 italic">
                    <span>This section is for <strong>Church leaders and workers only</strong>.</span>
                    <span>If member is not a leader or church worker, select <strong>Member</strong> for <strong>Member Type</strong> field above.</span>
                  </p>
    
                  <div class="lg:col-span-1">
                    <label for="member_position" class="block text-sm text-gray-700">Department </label>
                    <div class="mt-1">
                      <app-select-input [selectInputData]="{ items: data.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', multiple: false, autoClose: true, defaultValue: data.gender[0] }" (selectionChanged)="onSelectionChanged($event)"></app-select-input>
                    </div>
                  </div>
        
                  <div class="lg:col-span-1">
                    <label for="member_position" class="block text-sm text-gray-700">Position </label>
                    <div class="mt-1">
                      <app-select-input [selectInputData]="{ items: data.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', multiple: false, autoClose: true, defaultValue: data.gender[0] }" (selectionChanged)="onSelectionChanged($event)"></app-select-input>
                    </div>
                  </div>
        
                  <div class="lg:col-span-1">
                    <label for="member_position" class="block text-sm text-gray-700">Supervisor</label>
                    <div class="mt-1">
                      <app-select-input [selectInputData]="{ items: data.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', multiple: false, autoClose: true, defaultValue: data.gender[0] }" (selectionChanged)="onSelectionChanged($event)"></app-select-input>
                    </div>
                  </div>
        
                  <div class="lg:col-span-1">
                    <label for="member_position" class="block text-sm text-gray-700">Groups Led </label>
                    <div class="mt-1">
                      <app-select-input [selectInputData]="{ items: data.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', multiple: false, autoClose: true, defaultValue: data.gender[0] }" (selectionChanged)="onSelectionChanged($event)"></app-select-input>
                    </div>
                  </div>
        
                  <div class="lg:col-span-2">
                    <label for="member_position" class="block text-sm text-gray-700">System Privilleges </label>
                    <div class="mt-1">
                      <app-select-input [selectInputData]="{ items: data.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', multiple: false, autoClose: true, defaultValue: data.gender[0] }" (selectionChanged)="onSelectionChanged($event)"></app-select-input>
                    </div>
                  </div>
      
            </div> 

          </div>
        </div>
      </div>

      <div class="collapse collapse-arrow bg-white rounded-md">
        <input type="checkbox" class="peer" checked />
        <div class="collapse-title">
          <p class="text-md leading-5 text-indigo-800 mb-3 lg:col-span-1 pl-8 my-3">Contact Information:</p>
        </div>
        <div class="collapse-content">
          <div class="lg:col-span-3 lg:grid lg:grid-cols-2 gap-6 p-8 pt-3">

            <div class="lg:col-span-1">
              <div class="flex justify-between items-center">
                <label for="phone" class="block text-sm text-gray-700"> Phone Number</label>
                <div class="flex justify-end space-x-3 items-center whitespace-nowrap mx-2">
                  <label for="can_receive_sms" class="block text-xs text-indigo-700">Can Receive SMS:</label>
                  <input type="checkbox" id="can_receive_sms" name="can_receive_sms" [(ngModel)]="member.canReceiveSms" (change)="handleToggle('member.canReceiveSms', member.canReceiveSms)" class="h-4 w-4 border border-slate-300 rounded-sm accent-indigo-700 shadow-sm focus:border-indigo-500">
                </div>  
              </div>
              <div class="mt-1">
                <input type="text" id="phone" name="phone" placeholder="eg. (+233)-234-56-789" [(ngModel)]="member.phone" autocomplete="false" class="placeholder:text-sm appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>            
            </div>

            <div class="lg:col-span-1">
              <div class="flex justify-between items-center">
                <label for="phone2" class="block text-sm text-gray-700"> Phone Number 2</label>
                <div class="flex justify-end space-x-3 items-center whitespace-nowrap mx-2">
                  <label for="can_receive_sms2" class="block text-xs text-indigo-700">Can Receive SMS:</label>
                  <input type="checkbox" id="can_receive_sms2" name="can_receive_sms2" [(ngModel)]="member.canReceiveSms2" (change)="handleToggle('member.canReceiveSms2', member.canReceiveSms2)" class="h-4 w-4 border border-slate-300 rounded-sm accent-indigo-700 shadow-sm focus:border-indigo-500">
                </div>  
              </div>
              <div class="mt-1">
                <input type="text" id="phone" name="phone" placeholder="eg. (+233)-234-56-789" [(ngModel)]="member.phone" autocomplete="false" class="placeholder:text-sm appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>            
            </div>

            <div class="lg:col-span-1">
              <div class="flex justify-between items-center">
                <label for="email" class="block text-sm text-gray-700"> Email</label>
                <div class="flex justify-end space-x-3 items-center whitespace-nowrap mx-2">
                  <label for="can_receive_email" class="block text-xs text-indigo-700">Can Receive Email:</label>
                  <input type="checkbox" id="can_receive_email" name="can_receive_email" [(ngModel)]="member.canReceiveEmail" (change)="handleToggle('member.canReceiveSms', member.canReceiveSms)" class="h-4 w-4 border border-slate-300 rounded-sm accent-indigo-700 shadow-sm focus:border-indigo-500">
                </div>  
              </div>            
              <div class="mt-1">
                <input type="email" id="email" name="email" placeholder="eg. simonpeter123@abc.com" [(ngModel)]="member.email" autocomplete="true" class="placeholder:text-sm appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="resid_city" class="block text-sm text-gray-700"> Residential City </label>
              <div class="mt-1">
                <input type="text" id="resid_city" name="resid_city" placeholder="eg. Accra" [(ngModel)]="member.resid_city" autocomplete="false" class="placeholder:text-sm appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>
            </div>

            <div class="lg:col-span-2">
              <label for="address" class="block text-sm text-gray-700">Residential Address </label>
              <div class="mt-1">
                <textarea rows="2" type="text" id="address" name="address" placeholder="eg. No. 1234, ABC Street / GPS" [(ngModel)]="member.address" class="placeholder:text-sm appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500"></textarea>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Action buttons -->
      <div class="flex border-indigo-200 pt-8 mt-8 px-2 border-t py-4 justify-end space-x-6">
        <button type="submit" (click)="reset()" class="hover:-translate-y-px hover:shadow-xs active:opacity-85 tracking-tight-rem transition-all bg-gray-50 ease-in-out border border-transparent rounded-md hover:shadow-sm px-10 py-3 flex items-center justify-center text-sm font-medium text-red-700 border-red-200 hover:bg-gray-50">
          Reset
        </button>
        <button type="submit" (click)="saveMember()" class="hover:-translate-y-px hover:shadow-xs active:opacity-85 tracking-tight-rem transition-all ease-in-out bg-indigo-600 border border-transparent rounded-md hover:shadow-sm px-4 py-3 flex items-center justify-center text-sm font-medium text-white hover:bg-indigo-700">
          Admit Member
        </button>
      </div>

    </div>
    
  </div>


  <app-membership-form class="hidden"></app-membership-form>