  <div class="space-y-4 py-4 p-8">

    <!-- Upper Section -->
    <div class="flex justify-between px-1 items-center">

      <div class="text-2xl font-medium text-gray-800">Membership Form:</div>

      <app-download-button [downloadData]="{ componentId: 'membership_form', light: true, title: 'Print Form' }"></app-download-button>

    </div>

    <!-- Form --> 
    <div class="space-y-4 my-4 rounded-md">

      <div class="collapse collapse-arrow bg-white rounded-md">
        
        <input type="checkbox" class="peer" checked />
        
        <div class="collapse-title">
          <p class="text-md leading-5 text-indigo-800 mb-3 lg:col-span-1 pl-8 my-3">Personal Information:</p>
        </div>
        
        <div class="collapse-content">

          <div class="items-center space-x-4 flex justify-end px-8">
            
            <img [src]="member.photo" alt="Avatar" class="w-16 h-16 rounded-lg shadow-md">
            
            <div>

              <button (click)="openUploadModal()" class="text-sm px-4 py-2.5 text-indigo-700 bg-indigo-50 rounded-lg hover:bg-indigo-100">
                Change avatar
              </button>

              <p class="text-xs text-gray-500 mt-">JPG or PNG. 1MB max.</p>
              
            </div>

          </div>

          <div class="lg:col-span-3 lg:grid lg:grid-cols-2 gap-6 p-8 pt-3">

            <div class="lg:col-span-1">
              <label for="first_name" class="block text-sm text-gray-700">First Name </label>
              <div class="mt-1">
                <input type="text" name="first_name" placeholder="eg. Simon" [(ngModel)]="member.first_name" autocomplete="true" class="placeholder:text-sm appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="last_name" class="block text-sm text-gray-700">Last Name </label>
              <div class="mt-1">
                <input type="text" name="last_name" placeholder="eg. Peter" [(ngModel)]="member.last_name" autocomplete="true" class="placeholder:text-sm appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="other_names" class="block text-sm text-gray-700">Other Name(s) </label>
              <div class="mt-1">
                <input type="text" name="other_names" placeholder="eg. Cephas" [(ngModel)]="member.other_names" autocomplete="true" class="placeholder:text-sm appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="dob" class="block text-sm text-gray-700">Date of Birth </label>
              <div class="mt-1">
                <input type="date" format="dd-MM-yy" name="dob" placeholder="Select Date" [(ngModel)]="member.dob" class="placeholder:text-sm placeholder:text-slate- appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="gender" class="block text-sm text-gray-700">Gender </label>
              <div class="mt-1">
                <app-select-input id="gender" [selectInputData]="{ items: noDB.gender, placeholder: 'Select Gender', displayProperty: 'name', searchProperty: 'name', defaultValue: noDB.gender[0] }" (selectionChanged)="onSelectionChanged('gender', $event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="title" class="block text-sm text-gray-700">Title </label>
              <div class="mt-1">
                <app-select-input id="title" [selectInputData]="{ items: noDB.titles, placeholder: 'Select Title', displayProperty: 'name', searchProperty: 'name', defaultValue: noDB.titles[0] }" (selectionChanged)="onSelectionChanged('title', $event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="nationality" class="block text-sm text-gray-700">Nationality </label>
              <div class="mt-1">
                <app-select-input id="nationality" [selectInputData]="{ items: noDB.countries, placeholder: 'Select Nationality', displayProperty: 'native', searchProperty: 'native' }" (selectionChanged)="onSelectionChanged('nationality', $event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="marital_status" class="block text-sm text-gray-700">Marital Status </label>
              <div class="mt-1">
                <app-select-input id="marital_status" [selectInputData]="{ items: noDB.maritalStatuses, placeholder: 'Select Status', displayProperty: 'name', searchProperty: 'name' }" (selectionChanged)="onSelectionChanged('marital_status', $event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="highest_edu_level" class="block text-sm text-gray-700">Highest Educational Qualification </label>
              <div class="mt-1">
                <app-select-input id="highest_edu_level" [selectInputData]="{ items: noDB.eduLevels, placeholder: 'Select Option', displayProperty: 'name', searchProperty: 'name' }" (selectionChanged)="onSelectionChanged('highest_edu_level', $event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="relations" class="block text-sm text-gray-700">Relations (If Applicable) </label>
              <div class="mt-1">
                <app-select-input id="relations" [selectInputData]="{ items: noDB.members, placeholder: 'Select Relation', displayProperty: 'full_name', searchProperty: 'full_name', multiple: true }" (selectionChanged)="onSelectionChanged('relations', $event)"></app-select-input>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="collapse collapse-arrow bg-white rounded-md">
        <input type="checkbox" class="peer" checked />
        <div class="collapse-title">
          <p class="text-md leading-5 text-indigo-800 mb-3 lg:col-span-1 pl-8 my-3">Membership Information:</p>
        </div>
        <div class="collapse-content">
          <div class="lg:col-span-3 lg:grid lg:grid-cols-2 gap-6 p-8 pt-3">

            <div class="lg:col-span-1">
              <label for="user_type" class="block text-sm text-gray-700">Member Type </label>
              <div class="mt-1">
                <app-select-input id="user_type" [selectInputData]="{ items: noDB.userTypes, placeholder: 'Select Member Type', displayProperty: 'name', searchProperty: 'name', defaultValue: noDB.userTypes[0] }" (selectionChanged)="onSelectionChanged('user_type', $event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="member_id" class="font-medium block text-sm text-slate-900">Member ID <span class="text-slate-500 text-sm"> (Last ID - {{lastMemberId}}):</span> </label>
              <div class="mt-1">
                <input type="text" id="member_id" name="member_id" placeholder="Member ID" [(ngModel)]="member.member_id" autocomplete="false" class="font-bold bg-indigo-50 placeholder:text-sm appearance-none min-w-0 w-full border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="branch" class="block text-sm text-gray-700">Branch</label>
              <div class="mt-1">
                <app-select-input id="branch" [selectInputData]="{ items: noDB.branches, placeholder: 'Select Branch', displayProperty: 'name', searchProperty: 'name', }" (selectionChanged)="onSelectionChanged('membership_status', $event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="membership_date" class="block text-sm text-gray-700">Membership Date </label>
              <div class="mt-1">
                <input type="date" id="membership_date" name="membership_date" [(ngModel)]="member.membership_date" class="placeholder:text-sm placeholder:text-slate-300 appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="membership_status" class="block text-sm text-gray-700">Membership Status </label>
              <div class="mt-1">
                <app-select-input id="membership_status" [selectInputData]="{ items: noDB.membershipStatuses, placeholder: 'Select Status', displayProperty: 'name', searchProperty: 'name', defaultValue: noDB.membershipStatuses[0] }" (selectionChanged)="onSelectionChanged('membership_status', $event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="first_name" class="block text-sm text-gray-700">Baptismal Status </label>
              <div class="mt-1">
                <app-select-input id="baptismal_status" [selectInputData]="{ items: noDB.baptismalStatuses, placeholder: 'Select Status', displayProperty: 'name', searchProperty: 'name'}" (selectionChanged)="onSelectionChanged('baptismal_status', $event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="invited_by" class="block text-sm text-gray-700">Invited By (If Apllicable) </label>
              <div class="mt-1">
                <app-select-input id="invited_by" [selectInputData]="{ items: noDB.members, placeholder: 'Select Member', displayProperty: 'full_name', multiple: true, searchProperty: 'full_name' }" (selectionChanged)="onSelectionChanged('invited_by', $event)"></app-select-input>
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="groups" class="block text-sm text-gray-700">Member Group(s) </label>
              <div class="mt-1">
                <app-select-input id="groups" [selectInputData]="{ items: noDB.groups, multiple: true, placeholder: 'Select Group', displayProperty: 'name', searchProperty: 'name' }" (selectionChanged)="onSelectionChanged('groups', $event)"></app-select-input>
              </div>
            </div>
            
            <div *ngIf="isChurchWorker" class="px-2 lg:col-span-2 lg:grid pt-8 mt-4 lg:grid-cols-2 gap-6 border-t border-indigo-200">

                  <p class="lg:col-span-2 text-xs leading-5 text-indigo-700 lg:whitespace-nowrap space-x-2 italic">
                    <span>This section is for <strong>Church leaders and workers only</strong>.</span>
                    <span>If member is not a leader or church worker, select <strong>Member</strong> for <strong>Member Type</strong> field above.</span>
                  </p>
    
                  <div class="lg:col-span-1">
                    <label for="departments" class="block text-sm text-gray-700">Department(s) </label>
                    <div class="mt-1">
                      <app-select-input id="departments" [selectInputData]="{ items: noDB.departments, placeholder: 'Select Department(s)', displayProperty: 'name', multiple: true, searchProperty: 'name' }" (selectionChanged)="onSelectionChanged('departments', $event)"></app-select-input>
                    </div>
                  </div>
        
                  <div class="lg:col-span-1">
                    <label for="positions" class="block text-sm text-gray-700">Position(s) </label>
                    <div class="mt-1">
                      <app-select-input id="positions" [selectInputData]="{ items: noDB.positions, placeholder: 'Select Position(s)', displayProperty: 'name', multiple: true, searchProperty: 'name' }" (selectionChanged)="onSelectionChanged('positions', $event)"></app-select-input>
                    </div>
                  </div>
        
                  <div class="lg:col-span-1">
                    <label for="supervisor" class="block text-sm text-gray-700">Supervisor</label>
                    <div class="mt-1">
                      <app-select-input id="supervisor" [selectInputData]="{ items: noDB.staff, placeholder: 'Select Supervisor', isplayProperty: 'full_name', searchProperty: 'full_name' }" (selectionChanged)="onSelectionChanged('supervisor', $event)"></app-select-input>
                    </div>
                  </div>
        
                  <div class="lg:col-span-1">
                    <label for="groups_led" class="block text-sm text-gray-700">Group(s) Led </label>
                    <div class="mt-1">
                      <app-select-input id="groups_led" [selectInputData]="{ items: noDB.groups, placeholder: 'Select Group(s)', displayProperty: 'name', multiple: true, searchProperty: 'name' }" (selectionChanged)="onSelectionChanged('groups_led', $event)"></app-select-input>
                    </div>
                  </div>
        
                  <div class="lg:col-span-2">
                    <label for="privilleges" class="block text-sm text-gray-700">System Privilleges </label>
                    <div class="mt-1">
                      <app-select-input id="privilleges"  [selectInputData]="{ items: noDB.privilleges, placeholder: 'Select Privilleges', displayProperty: 'name', multiple: true, searchProperty: 'name' }" (selectionChanged)="onSelectionChanged('privilleges', $event)"></app-select-input>
                    </div>
                  </div>
      
            </div> 

          </div>
        </div>
      </div>

      <div class="collapse collapse-arrow bg-white rounded-md">
        <input type="checkbox" class="peer" checked />
        <div class="collapse-title">
          <p class="text-md leading-5 text-indigo-800 mb-3 lg:col-span-1 pl-8 my-3">Contact Information:</p>
        </div>
        <div class="collapse-content">
          <div class="lg:col-span-3 lg:grid lg:grid-cols-2 gap-6 p-8 pt-3">

            <div class="lg:col-span-1">
              <div class="flex justify-between items-center">
                <label for="phone" class="block text-sm text-gray-700"> Phone Number</label>
                <div class="flex justify-end space-x-3 items-center whitespace-nowrap mx-2">
                  <label for="can_receive_sms" class="block text-xs text-indigo-700">Can Receive SMS:</label>
                  <input type="checkbox" id="can_receive_sms" name="can_receive_sms" [(ngModel)]="member.canReceiveSms" (change)="handleToggle('member.canReceiveSms', member.canReceiveSms)" class="h-4 w-4 border border-slate-300 rounded-sm accent-indigo-700 shadow-sm focus:border-indigo-500">
                </div>  
              </div>
              <div class="mt-1">
                <input type="text" id="phone" name="phone" placeholder="eg. (+233)-234-56-788" [(ngModel)]="member.phone" autocomplete="false" class="placeholder:text-sm appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>            
            </div>

            <div class="lg:col-span-1">
              <div class="flex justify-between items-center">
                <label for="phone2" class="block text-sm text-gray-700"> Phone Number 2</label>
                <div class="flex justify-end space-x-3 items-center whitespace-nowrap mx-2">
                  <label for="can_receive_sms2" class="block text-xs text-indigo-700">Can Receive SMS:</label>
                  <input type="checkbox" id="can_receive_sms2" name="can_receive_sms2" [(ngModel)]="member.canReceiveSms2" (change)="handleToggle('member.canReceiveSms2', member.canReceiveSms2)" class="h-4 w-4 border border-slate-300 rounded-sm accent-indigo-700 shadow-sm focus:border-indigo-500">
                </div>  
              </div>
              <div class="mt-1">
                <input type="text" id="phone2" name="phone2" placeholder="eg. (+233)-234-56-789" [(ngModel)]="member.phone" autocomplete="false" class="placeholder:text-sm appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>            
            </div>

            <div class="lg:col-span-1">
              <div class="flex justify-between items-center">
                <label for="email" class="block text-sm text-gray-700"> Email</label>
                <div class="flex justify-end space-x-3 items-center whitespace-nowrap mx-2">
                  <label for="can_receive_email" class="block text-xs text-indigo-700">Can Receive Email:</label>
                  <input type="checkbox" id="can_receive_email" name="can_receive_email" [(ngModel)]="member.canReceiveEmail" (change)="handleToggle('member.canReceiveSms', member.canReceiveSms)" class="h-4 w-4 border border-slate-300 rounded-sm accent-indigo-700 shadow-sm focus:border-indigo-500">
                </div>  
              </div>            
              <div class="mt-1">
                <input type="email" id="email" name="email" placeholder="eg. simonpeter123@abc.com" [(ngModel)]="member.email" autocomplete="true" class="placeholder:text-sm appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>
            </div>

            <div class="lg:col-span-1">
              <label for="resid_city" class="block text-sm text-gray-700"> Residential City </label>
              <div class="mt-1">
                <input type="text" id="resid_city" name="resid_city" placeholder="eg. Accra" [(ngModel)]="member.resid_city" autocomplete="false" class="placeholder:text-sm appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
              </div>
            </div>

            <div class="lg:col-span-2">
              <label for="resid_address" class="block text-sm text-gray-700">Residential Address </label>
              <div class="mt-1">
                <textarea rows="2" type="text" id="resid_address" name="resid_address" placeholder="eg. No. 1234, ABC Street / GPS" [(ngModel)]="member.resid_address" class="placeholder:text-sm appearance-none min-w-0 w-full bg-white border border-slate-300 rounded-md shadow-sm py-2 px-4 text-base text-slate-900 placeholder-slate-500 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500"></textarea>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Action buttons -->
      <div class="flex border-indigo-200 pt-4 px-2 border-t justify-end space-x-6">
        <button type="submit" (click)="reset()" class="hover:-translate-y-px hover:shadow-xs active:opacity-85 tracking-tight-rem transition-all bg-white ease-in-out border border-transparent rounded-md hover:shadow-sm px-10 py-3 flex items-center justify-center text-sm font-medium text-red-700 border-red-200 hover:bg-gray-50">
          Reset
        </button>
        <button type="submit" (click)="saveMember()" class="hover:-translate-y-px hover:shadow-xs active:opacity-85 tracking-tight-rem transition-all ease-in-out bg-indigo-600 border border-transparent rounded-md hover:shadow-sm px-4 py-3 flex items-center justify-center text-sm font-medium text-white hover:bg-indigo-700">
          Admit Member
        </button>
      </div>

    </div>
    
  </div>

  <app-membership-form id="membership_form" class="hidden"></app-membership-form>